fastapi
uvicorn[standard]
python-multipart
sqlalchemy
alembic
psycopg2-binary
asyncpg
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
redis
celery[redis]
watchfiles